.search {
    padding: 8px;
    border-radius: 20px;
    background-color: #fff;

    i {
        margin: 0 3px;
        text-align: center;
    }

    label: {
        display: block;
    }

    input {
        padding: 0;
        outline-style: none;
        border: none;
    }
}
